body {
  position: relative;
  font-family: "ProximanovaRegular", sans-serif; }

h1, h2, h3, header nav nav, button {
  text-transform: uppercase;
  font-family: "ProximaNovaBold", sans-serif; }

h1 {
  font-size: 48px;
  font-family: "ProximaNovaExtrabold", sans-serif;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: left; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 25px; }

button, a {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  outline: none !important; }

button {
  color: #fff;
  border-radius: 2px; }
  button.orange {
    background-image: linear-gradient(170deg, #f3b68d 0%, #e5620b 45%, #e5620b 100%);
    font-size: 20px;
    padding: 30px 40px;
    border-bottom: 2px solid #b44a04;
    -webkit-box-shadow: 3px 3px 10px 2px rgba(107, 43, 0, 0.65);
            box-shadow: 3px 3px 10px 2px rgba(107, 43, 0, 0.65); }
    button.orange:hover {
      background-image: linear-gradient(170deg, #f3b68d 0%, #e5620b 100%); }
    button.orange:active {
      font-size: 19px;
      -webkit-box-shadow: 1px 1px 10px rgba(107, 43, 0, 0.65);
              box-shadow: 1px 1px 10px rgba(107, 43, 0, 0.65); }
  button.blue {
    background-color: #80b9e7;
    border-bottom: 4px solid #5e9ed2;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    vertical-align: middle;
    padding: 20px 5px;
    width: 245px;
    height: 63px;
    font-size: 16px; }
    button.blue:active {
      font-size: 15px;
      -webkit-box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0, 0, 0, 0.2);
              box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0, 0, 0, 0.2); }

.navbar {
  background-color: #fff;
  min-height: 92px;
  padding-top: 17px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35); }

.call {
  display: inline-block;
  font-size: 22px;
  float: right; }
  .call span {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .call span:before {
      content: url(../img/icons/phone.png);
      position: absolute;
      left: -25px;
      top: 5px; }
  .call small {
    font-size: 16px; }
  .call button {
    font-size: 13px;
    vertical-align: middle;
    padding: 10px 22px;
    margin: 0 10px;
    background-color: #80b9e7; }
    .call button:hover {
      background-color: #51a4e8; }

.navbar-left {
  margin: 0 70px; }

.nav li {
  position: relative;
  padding: 0 7px; }
  .nav li a {
    color: #242424; }
    .nav li a:hover, .nav li a:focus {
      color: #80b9e7;
      background-color: transparent; }

.nav li:not(:last-child):after {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #80b9e7;
  display: block;
  position: absolute;
  bottom: 24px;
  right: -2px;
  border-radius: 2px; }

.navbar-header {
  display: inline-block; }

.navbar-toggle {
  background-color: #80b9e7;
  margin-top: 13px; }
  .navbar-toggle span {
    background-color: #fff; }

.navbar-brand {
  font-family: "ProximaNovaBold", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 16px;
  float: left; }
  .navbar-brand span {
    color: #72b1e4; }
  .navbar-brand small {
    font-family: "ProximanovaRegular", sans-serif;
    color: #6b6b6b;
    text-transform: none;
    font-size: 13px;
    letter-spacing: 1.3px; }

main {
  min-height: 607px;
  position: relative;
  margin-top: 92px;
  background-color: transparent;
  padding: 35px 0 100px 0; }

.main-content {
  color: #fff;
  float: right;
  margin-right: 80px;
  text-align: center; }
  .main-content h2 {
    font-family: "ProximanovaRegular", sans-serif;
    text-align: left;
    margin-top: 0;
    font-size: 28px; }
  .main-content ul {
    list-style-type: none;
    font-size: 22px;
    padding: 0;
    text-align: left;
    margin: 20px 0; }
    .main-content ul li {
      margin-bottom: 15px; }
      .main-content ul li span {
        width: 26px;
        height: 24px;
        display: inline-block;
        background-image: url(../img/icons/main.png);
        vertical-align: middle;
        margin-bottom: 3px;
        margin-right: 10px; }
      .main-content ul li:nth-child(2) span {
        background-position: -38px 0px; }
      .main-content ul li:last-child span {
        background-position: -76px 0px; }
      .main-content ul li .cost {
        background-image: none;
        display: inline-block;
        width: auto;
        height: auto;
        font-size: 30px;
        font-family: "ProximaNovaBold", sans-serif;
        border: 3px solid #e5620b;
        border-radius: 5px;
        padding: 0 10px;
        margin-left: 15px; }
  .main-content button {
    margin-right: 35%; }

.carousel {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; }
  .carousel-inner {
    height: 100%; }
  .carousel .item {
    height: 100%; }

.main-overlay {
  background-image: url(../img/backgrounds/overlay.png);
  background-size: cover;
  background-position: top right;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1; }

.work {
  min-height: 724px;
  background-image: url(../img/backgrounds/work-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  text-align: center;
  padding-top: 35px;
  -webkit-box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.15); }
  .work h2 {
    position: relative;
    text-align: center;
    display: inline-block; }
    .work h2 span {
      font-family: "ProximaNovaExtrabold", sans-serif; }
    .work h2:after {
      content: '';
      display: block;
      width: 122px;
      height: 4px;
      background-color: #e87123;
      border-radius: 2px;
      margin: auto;
      margin-top: 10px; }
  .work h3 {
    text-transform: none; }
  .work p {
    font-size: 16px; }
  .work-content {
    margin-top: 35px; }
  .work-item {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    margin: 5px 12px; }
    .work-item span {
      display: inline-block;
      width: 82px;
      height: 60px;
      background-image: url(../img/icons/work.png); }
    .work-item:first-child span {
      background-position: -8px 0; }
    .work-item:nth-child(2) span {
      background-position: -110px 0; }
    .work-item:nth-child(3) span {
      background-position: -230px 0; }
    .work-item:nth-child(4) span {
      background-position: -319px 0; }
    .work-item:nth-child(5) span {
      background-position: -400px 0; }
  .work-buttons {
    position: absolute;
    bottom: 225px;
    left: 0;
    right: 0; }
    .work-buttons button {
      margin: 0 25px; }

.benefits {
  min-height: 800px;
  background-image: url(../img/backgrounds/ben-bg.png);
  background-size: cover;
  background-position: center bottom;
  margin-top: -170px;
  padding-top: 130px;
  text-align: center; }
  .benefits .container > p {
    max-width: 600px;
    margin: auto;
    font-size: 18px;
    margin-top: 30px; }
  .benefits-content {
    padding-left: 80px;
    margin-top: 20px; }
  .benefits-item {
    display: inline-block;
    width: 44%;
    text-align: left;
    font-family: "ProximaNovaBold", sans-serif;
    margin-top: 25px;
    font-size: 16px; }
    .benefits-item figure {
      display: table; }
    .benefits-item figcaption {
      display: table-cell;
      vertical-align: middle; }
    .benefits-item span {
      background-image: url(../img/icons/ben.png);
      display: inline-block;
      width: 74px;
      height: 72px;
      margin-right: 20px; }
    .benefits-item:nth-child(2) span {
      background-position: -92px 0; }
    .benefits-item:nth-child(3) span {
      background-position: -185px 0; }
    .benefits-item:nth-child(4) span {
      background-position: -278px 0; }
    .benefits-item:nth-child(5) span {
      background-position: -371px 0; }
    .benefits-item:nth-child(6) span {
      background-position: -464px 0; }
  .benefits-footer {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 24px; }
    .benefits-footer button.orange {
      width: 228px;
      height: 66px;
      padding: 10px 40px;
      text-transform: none;
      line-height: 23px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 70px; }
    .benefits-footer p {
      text-align: left;
      font-size: 20px;
      font-family: "ProximaNovaBold", sans-serif;
      display: inline-block;
      vertical-align: middle;
      max-width: 600px;
      margin: 0; }

.effect {
  background-image: url(../img/backgrounds/effect-bg.png);
  min-height: 858px;
  background-size: cover;
  background-position: center bottom;
  color: #fff;
  padding: 30px 0 70px 0;
  text-align: center; }
  .effect-images {
    margin-top: 50px;
    display: inline-block;
    font-size: 0;
    width: 100%; }
    .effect-images-item {
      display: inline-block;
      background-size: cover; }
      .effect-images-item img {
        display: block;
        width: 100%;
        height: 100%; }
      .effect-images-item:nth-child(1) {
        height: 250px;
        width: 59%;
        background-image: url(../img/1-1.png);
        border: 4px solid #fff;
        border-bottom: none; }
      .effect-images-item:nth-child(2) {
        height: 210px;
        width: 41%;
        background-image: url(../img/1-2.jpg);
        border-top: 4px solid #fff;
        border-right: 4px solid #fff; }
      .effect-images-item:nth-child(3) {
        height: 300px;
        width: 100%;
        background-image: url(../img/1-3.jpg);
        border: 4px solid #fff; }
  .effect-content {
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
    max-width: 530px; }
    .effect-content h3 {
      text-align: left;
      margin-bottom: 36px; }
    .effect-content ul {
      list-style-type: none;
      padding: 0;
      font-size: 18px;
      text-align: left;
      margin-bottom: 40px; }
      .effect-content ul li {
        vertical-align: middle; }
        .effect-content ul li:before {
          content: url(../img/icons/check.png);
          display: inline-block;
          vertical-align: middle;
          margin-top: 4px;
          margin-right: 15px; }

.prepare {
  text-align: center; }
  .prepare-sect-1, .prepare-sect-2 {
    padding: 60px 0; }
  .prepare p {
    font-size: 20px;
    font-family: "ProximaNovaBold", sans-serif;
    max-width: 430px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    display: block; }
  .prepare-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 60px; }
  .prepare-item {
    margin: 0 15px; }
    .prepare-item figcaption {
      margin-top: 20px;
      font-size: 25px; }
  .prepare-sect-2 {
    background-image: url(../img/backgrounds/prepare-bg.png);
    color: #fff; }
    .prepare-sect-2 h2:after {
      content: '';
      height: 4px;
      width: 132px;
      display: block;
      background-color: #b2dcfd;
      border-radius: 2px;
      margin: auto;
      margin-top: 20px; }
  .prepare-slider {
    max-height: 370px;
    margin-top: 35px; }

.feedback {
  min-height: 500px;
  background-image: url(../img/backgrounds/feedback-bg.png);
  background-size: cover;
  background-position: center top;
  text-align: center;
  padding: 50px 0; }
  .feedback h2:after {
    content: '';
    height: 4px;
    width: 132px;
    display: block;
    background-color: #b2dcfd;
    border-radius: 2px;
    margin: auto;
    margin-top: 20px; }
  .feedback-slider {
    margin-top: 60px; }
  .feedback-slider-item {
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 20px;
    border-radius: 4px;
    margin: 0 40px;
    outline: none; }
    .feedback-slider-item p {
      margin: 0; }
    .feedback-slider-item h4 {
      font-size: 18px;
      font-family: "ProximaNovaBold", sans-serif;
      margin: 0; }
      .feedback-slider-item h4:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #ebf1f6;
        display: block;
        margin-top: 10px; }
      .feedback-slider-item h4 span {
        font-size: 15px;
        color: #7cb7e6; }
    .feedback-slider-item img {
      width: 90px;
      height: 90px;
      border-radius: 45px;
      float: left;
      margin-right: 30px;
      margin-bottom: 15px; }

.prev, .next {
  position: absolute;
  top: 25%;
  background-image: url(../img/icons/arrow.png);
  height: 80px;
  width: 40px;
  cursor: pointer;
  z-index: 2; }

.prev {
  left: -35px; }

.next {
  right: -35px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

footer {
  min-height: 140px;
  background-color: #233c4f;
  text-align: center;
  position: relative;
  padding-top: 35px; }

.footer-content {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 700px; }

.footer-item {
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  text-align: left; }
  .footer-item.name {
    position: relative;
    line-height: 32.8px; }
    .footer-item.name:after {
      content: '';
      width: 1px;
      height: 87px;
      background-color: #3a5870;
      display: block;
      position: absolute;
      right: -28px;
      top: -12px; }
  .footer-item.phone {
    font-size: 22px;
    position: relative; }
    .footer-item.phone span {
      font-family: "ProximanovaRegular", sans-serif; }
    .footer-item.phone small {
      font-size: 16px; }
    .footer-item.phone:after {
      content: '';
      width: 1px;
      height: 87px;
      background-color: #3a5870;
      display: block;
      position: absolute;
      right: -28px;
      top: -12px; }
  .footer-item.copy {
    line-height: 32.8px; }
    .footer-item.copy small {
      font-family: "ProximanovaRegular", sans-serif; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .navbar-left {
    margin: 0 0 0 -15px; }
  .main-content h2 {
    font-size: 26px; }
  h1 {
    font-size: 44px; }
  button.orange {
    padding: 20px 25px; }
  .work {
    min-height: 824px; }
    .work-item {
      width: 190px; }
    .work-buttons {
      bottom: 150px; }
    .work p {
      font-size: 14px; }
  .benefits-item {
    width: 45%; }
  .benefits-footer p {
    text-align: center;
    margin-top: 10px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .navbar-toggle {
    display: block; }
  .navbar-header {
    float: none; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }
  .nav > li {
    float: none; }
  .nav li:not(:last-child):after {
    content: none; }
  .navbar-nav > li > a {
    padding: 10px; }
  .navbar-collapse {
    background-color: #fff;
    padding: 0 15px !important;
    margin: 15px 0 0 0; }
  .navbar-left {
    float: none !important; }
  .navbar-collapse.collapse.in {
    display: block !important; }
  .carousel .item img {
    height: 100%;
    width: 100%; }
  .effect {
    min-height: 770px; }
    .effect .col-md-6 {
      padding: 0; }
      .effect .col-md-6:nth-child(2) {
        display: none; }
  .prev {
    left: -5px; }
  .next {
    right: -5px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767.5px) {
  .call {
    margin-right: 5px; }
    .call button {
      display: none; }
  main {
    background-image: url(../img/backgrounds/overlay.png), url(../img/1-2.jpg);
    background-size: cover;
    background-position: top center; }
  .main-content {
    margin-right: 0; }
    .main-content button {
      margin-right: 90px; }
  .carousel, .main-overlay {
    display: none; }
  .benefits-content {
    padding: 0; }
  .benefits-item {
    width: 45%;
    text-align: center;
    vertical-align: top; }
    .benefits-item figure, .benefits-item figcaption {
      display: block; }
    .benefits-item span {
      margin-right: 0; }
  .benefits-footer p {
    font-size: 18px; }
  .benefits-footer button.orange {
    margin: 0; }
  button.orange {
    font-size: 18px; }
    button.orange:active {
      font-size: 17px; }
  .footer-item {
    font-size: 14px; }
    .footer-item.phone {
      font-size: 14px;
      line-height: 32.8px; }
      .footer-item.phone small {
        font-size: 14px; }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } }

@media only screen and (max-width: 654.5px) {
  .work {
    min-height: 1100px; }
    .work-buttons {
      bottom: 200px; }
      .work-buttons button {
        margin: 5px 9px;
        width: 227px; }
  footer {
    padding: 6% 0; }
  .footer-content {
    display: block; }
  .footer-item {
    margin: 8px 15px;
    text-align: center;
    line-height: 20px !important; }
    .footer-item:after {
      display: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 493.5px) {
  .navbar {
    text-align: right; }
    .navbar-brand {
      display: none; }
    .navbar-header {
      float: left;
      margin-left: 20px; }
    .navbar .call {
      text-align: right;
      margin-right: 20px; }
      .navbar .call span:before {
        left: -3px;
        top: 6px; }
    .navbar-left {
      text-align: center; }
  .call {
    float: none; }
  h1 {
    font-size: 40px; }
  .main-content {
    text-align: left; }
    .main-content button {
      margin-right: 0; }
    .main-content ul {
      font-size: 20px; }
      .main-content ul li:nth-child(3) span:nth-child(3) {
        margin-left: 90px;
        margin-top: 5px; }
  .work {
    min-height: 1230px; }
    .work-item {
      width: 161px;
      margin: 5px 0px; }
  .benefits-item {
    width: 100%; }
  .prepare-item {
    margin: 0 5px; }
    .prepare-item figcaption {
      font-size: 20px; }
  .feedback-slider-item h4 {
    display: inline-block; }
    .feedback-slider-item h4 span {
      display: block; }
  footer {
    padding: 10px 0; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 355.5px) {
  h1 {
    font-size: 38px; }
  .work {
    min-height: 1580px; }
    .work-item {
      width: 240px; }
    .work-buttons {
      bottom: 270px; } }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
