
$regular: 'ProximaNovaRegular', sans-serif
$bold: 'ProximaNovaBold', sans-serif
$xbold: 'ProximaNovaExtrabold', sans-serif
$black: 'ProximaNovaBlack', sans-serif

// Work Section Styles
.work
	min-height: 724px
	background-image: url(../img/backgrounds/work-bg.png)
	background-repeat: no-repeat
	background-size: cover
	background-position: center bottom
	position: relative
	text-align: center
	padding-top: 43px
	box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.15)
	h2
		position: relative
		text-align: center
		display: inline-block
		span
			font-family: $xbold
		&:after
			content: ''
			display: block
			width: 122px
			height: 4px
			background-color: #e87123
			border-radius: 2px
			margin: auto
			margin-top: 10px
	h3
		text-transform: none
	&-content
		margin-top: 35px
	&-item
		display: inline-block
		width: 200px
		vertical-align: top
		margin: 5px 12px
		p
			font-size: 16px
		span
			display: inline-block
			width: 82px
			height: 60px
			background-image: url(../img/icons/work.png)
		&:first-child span
			background-position: -8px 0
		&:nth-child(2) span
			background-position: -110px 0
		&:nth-child(3) span
			background-position: -230px 0
		&:nth-child(4) span
			background-position: -319px 0
		&:nth-child(5) span
			background-position: -400px 0
	&-buttons
		position: absolute
		bottom: 225px
		left: 0
		right: 0
		button
			margin: 0 25px
// Work Section Styles End

// Benefits Section Styles

.benefits
	min-height: 800px
	background-image: url(../img/backgrounds/ben-bg.png)
	background-size: cover
	background-position: center bottom
	margin-top: -170px
	padding-top: 140px
	text-align: center
	.anchor
		position: relative
		top: -35px
	.container > p
		max-width: 600px
		margin: auto
		font-size: 18px
		margin-top: 30px
	&-content
		padding-left: 80px
		margin-top: 20px
	&-item
		display: inline-block
		width: 44%
		text-align: left
		font-family: $bold
		margin-top: 25px
		font-size: 16px
		vertical-align: top
		figure
			display: table
		figcaption
			display: table-cell
			vertical-align: middle
		span
			background-image: url(../img/icons/ben.png)
			display: inline-block
			width: 74px
			height: 72px
			margin-right: 20px
		$a: 2
		$b: 92
		@while $a <= 6
			&:nth-child(#{$a}) span
				background-position: (0px-$b) 0
			$b: $b+92+1
			$a: $a+1
	&-footer
		margin-top: 30px
		text-align: center
		margin-bottom: 24px
		button.orange
			width: 228px
			height: 66px
			padding: 10px 40px
			display: inline-block
			vertical-align: middle
			margin: 0 70px
		p
			text-align: left
			font-size: 20px
			font-family: $bold
			display: inline-block
			vertical-align: middle
			max-width: 600px
			margin: 0

// Benefits Section Styles End

// Effect Section Styles

.effect
	background-image: url(../img/backgrounds/effect-bg.png)
	min-height: 858px
	background-size: cover
	background-position: center bottom
	color: #fff
	padding: 38px 0 70px 0
	text-align: center
	&-images
		margin-top: 50px
		display: inline-block
		font-size: 0
		width: 100%
		&-item
			display: inline-block
			background-size: cover
			overflow: hidden
			img
				display: block
				width: 100%
				height: 103%
			&:nth-child(1)
				height: 250px
				width: 59%
				background-image: url(../img/backgrounds/main-1.png)
				border: 4px solid #fff
				border-bottom: none
			&:nth-child(2)
				height: 210px
				width: 41%
				background-image: url(../img/backgrounds/main-2.png)
				border-top: 4px solid #fff
				border-right: 4px solid #fff
			&:nth-child(3)
				height: 300px
				width: 100%
				background-image: url(../img/backgrounds/main-3.png)
				border: 4px solid #fff
	&-content
		margin-top: 30px
		display: inline-block
		vertical-align: top
		max-width: 530px
		h3
			text-align: left
			margin-bottom: 36px
		ul
			list-style-type: none
			padding: 0
			font-size: 18px
			text-align: left
			margin-bottom: 40px
			li
				vertical-align: middle
				&:before
					content: url(../img/icons/check.png)
					display: inline-block
					vertical-align: middle
					margin-top: 4px
					margin-right: 15px

// Effect Section Styles End

// Prepare Section Styles

.prepare
	text-align: center
	&-sect-1, &-sect-2
		padding: 43px 0
	.container > p
		font-size: 20px
		font-family: $bold
		max-width: 430px
		margin: auto
		margin:
			top: 40px
			bottom: 30px
		display: block
	&-content
		display: flex
		justify-content: space-around
		margin-top: 60px
	&-item
		margin: 0 15px
		.img
			&-wrap
				position: relative
			&-overlay
				background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
				bottom: 0
				left: 0
				opacity: 0
				padding: 0 20px
				position: absolute
				right: 0
				text-align: center
				top: 0
				transition: opacity 400ms ease 0s
				border-radius: 150px
				display: flex
				align-items: center
				p
					font-family: $regular
					font-size: 16px
		&:hover .img
			&-overlay
				opacity: 1
		figcaption
			margin-top: 20px
			font-size: 25px
	&-sect-2
		background-image: url(../img/backgrounds/prepare-bg.png)
		color: #fff
		h2:after
			content: ''
			height: 4px
			width: 132px
			display: block
			background-color: #b2dcfd
			border-radius: 2px
			margin: auto
			margin-top: 20px
	&-slider
		max-height: 370px
		margin-top: 35px
// Prepare Section Styles End

// Feedback Section Styles

.feedback
	min-height: 500px
	background-image: url(../img/backgrounds/feedback-bg.png)
	background-size: cover
	background-position: center top
	text-align: center
	padding: 50px 0
	h2:after
			content: ''
			height: 4px
			width: 132px
			display: block
			background-color: #b2dcfd
			border-radius: 2px
			margin: auto
			margin-top: 20px
	&-slider
		margin-top: 60px
	&-slider-item
		background-color: #fff
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2)
		text-align: left
		padding: 20px
		border-radius: 4px
		margin: 0 40px
		outline: none
		p
			margin: 0
		h4
			font-size: 18px
			font-family: $bold
			margin: 0
			&:after
				content: ''
				width: 100%
				height: 1px
				background-color: #ebf1f6
				display: block
				margin-top: 10px
			span
				font-size: 15px
				color: #7cb7e6
		img
			width: 90px
			height: 90px
			border-radius: 45px
			float: left
			margin-right: 30px
			margin-bottom: 15px
.prev, .next
	position: absolute
	top: 25%
	background-image: url(../img/icons/arrow.png)
	height: 80px
	width: 40px
	cursor: pointer
	z-index: 2
.prev
	left: -35px
.next
	right: -35px
	transform: rotate(180deg)

// Feedback Section Styles End

// Footer Section Styles

footer
	min-height: 140px
	background-color: #233c4f
	text-align: center
	position: relative
	padding-top: 35px
.footer
	&-content
		margin: auto
		display: flex
		justify-content: space-around
		max-width: 700px
	&-item
		font-family: $bold
		font-size: 16px
		color: #fff
		display: inline-block
		text-align: left
		line-height: 32.8px
		&.name
			position: relative
			&:after
				content: ''
				width: 1px
				height: 87px
				background-color: #3a5870
				display: block
				position: absolute
				right: -28px
				top: -12px
		&.phone
			font-size: 22px
			position: relative
			a
				color: #fff
				&:hover
					color: #7cb7e6
					text-decoration: none
			span
				font-family: $regular
			small
				font-size: 16px
			&:after
				content: ''
				width: 1px
				height: 87px
				background-color: #3a5870
				display: block
				position: absolute
				right: -28px
				top: -12px
		&.copy
			small
				font-family: $regular

// Footer Section Styles End

// Modal & Form Styles

#count-form
	.modal
		&-dialog
			max-width: 600px
			margin: 40px auto
		&-header
			text-align: center
			font-family: $bold
			font-size: 20px
		&-body
			text-align: center
			padding: 5px 65px 15px
			.control-label
				text-align: left
				padding-right: 0
				padding-left: 0	
	.form
		p
			font-size: 18px
			> span
					font-family: $xbold
		&-group
			font-size: 16px
		&-radio
			margin-bottom: 15px
			display: inline-flex
			font-size: 0
			&-item
				width: 25%
				display: inline-block
				font-size: 14px
				padding: 10px
				vertical-align: top
				position: relative
				input
					position: absolute
					bottom: -5px
					left: 0
					right: 0
					margin: auto


#call-form
	.modal-dialog
		max-width: 450px
		text-align: center
		.modal-header
			font-family: $bold
			font-size: 20px
		.control-label
			text-align: left
			padding-right: 0

#discount-form
	.modal-header
		font-family: $bold
		font-size: 20px
		text-align: center
	.modal-img
		width: 170px
		display: inline-block
		vertical-align: top
	form
		display: inline-block
		vertical-align: middle
		width: 65%
		text-align: center
		margin-top: 50px
		.form-group
			text-align: left
			font-size: 16px
			margin: 
				left: 0
				right: 0
			label
				text-align: left
				padding-right: 0

#thx
	text-align: center
	font-size: 18px
	.modal-dialog
		max-width: 360px
	b
		display: inline-block
		font-size: 22px
		margin: 10px 0
	p
		margin-bottom: 25px
	button.blue
		font-family: $xbold
// Modal & Form Styles End


// Allways end
@import "_media.sass"