
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.navbar-left 
		margin: 0 0 0 -15px
	
	.work
		min-height: 824px
		&-item
			width: 190px
		&-buttons
			bottom: 150px
		p
			font-size: 14px

	.benefits
		&-item
			width: 45%
		&-footer 
			p
				text-align: center
				margin-top: 10px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.navbar-toggle 
		display: block
	
	.navbar-header 
		float: none
	
	.navbar-collapse.collapse 
		display: none!important
	
	.navbar-nav 
		float: none!important
		margin: 7.5px -15px
	
	.nav > li 
		float: none
	.nav li:not(:last-child):after
		content: none

	.navbar-nav > li > a
		padding: 10px
	
	.navbar-collapse 
		background-color: #fff
		padding: 0 15px!important
		margin: 15px 0 0 0
	
	.navbar-left 
		float: none!important
	
	.navbar-collapse.collapse.in
		display:block !important
	
	.carousel .item img
		height: 100%
		width: 100%

	.effect
		min-height: 770px
		.col-md-6:nth-child(2)
			display: none

	.prev
		left: -5px
	.next
		right: -5px

/* Small Devices, Tablets */
@media only screen and (max-width : 767.5px)
	.call button
		display: none
	main
		background-image: url(../img/overlay.png), url(../img/1-2.jpg)
		background-size: cover
		background-position: top center
	.main-content button
			margin-right: 90px
	.carousel, .main-overlay
		display: none
	
	.benefits
		&-content
			padding: 0
		&-item
			width: 45%
			text-align: center
			vertical-align: top
			figure, figcaption
				display: block
		&-footer
			p
				font-size: 18px
			button.orange
				margin: 0
		
	button.orange
		font-size: 18px
		padding: 20px 25px
		&:active
			font-size: 17px
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

@media only screen and (max-width : 654.5px)
		.work
			min-height: 1100px
			&-buttons
				bottom: 200px
				button
					margin: 5px 9px
					width: 227px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 493.5px)
	.navbar
		text-align: center

	.call
		float: none

	.main-content button
		margin-right: 0

	.work
		min-height: 1230px
		&-item
			width: 161px
			margin: 5px 0px

	.benefits-item
		width: 100%

	.prepare-item
		margin: 0 5px
		figcaption
			font-size: 20px

/* Custom, iPhone Retina */
@media only screen and (max-width : 355.5px)
	.work
		min-height: 1580px
		&-item
			width: 240px
		&-buttons
			bottom: 270px


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

